#container {
  margin-top: 30px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  }
#tbmenu1{
  border:1px solid green;
}
#tbmenu1tr1{
}
.tbmenu1td{
  width:100px;
  border-left: 10px solid red;
  border-radius: 15px;
  color:black;
  font-size: 17px;
}
#p01{
  font-weight: bold;
  /*background-color: lightblue;*/
  font-family: "Gabriola Regular";
}
#p02{
  font-weight: bold;
  /*background-color: lightblue;*/
  font-family: "White Dream PERSONAL USE ONLY";
}
#p03{
  font-weight: bold;
 /* background-color: lightblue;*/
  font-family: "Gabriola Regular";
}
#p04{
  font-weight: bold;
  /*background-color: lightblue;*/
  font-family: "Admiration Pains";
}
#p05{
  font-weight: bold;
  /*background-color: lightblue;*/
  font-family: "Magnolia";
}
#p06{
  font-weight: bold;
  /*background-color: lightblue;*/
  font-family: "Magnolia Light";
}
.div05{
  margin-top: 400px;
}
#if01{
  margin-top: 400px;
}
.menu {
  float: left;
  width: 16%;
  text-align: center;
}
.menu a {
  background-color: pink;
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: black;
  font-size:15px;
}
.main {
  float: left;
  width: 50%;
  padding: 5px 25px;
}
.right {
  background-color: #e5e5e5;
  float: left;
  width: 20%;
  padding: 15px;
  margin-top: 7px;
  margin-right: 5px;
  text-align: center;
}
